// Fonts
$font-family-body = Hack, monospace
$font-family-mono = Hack, monospace
$font-family-tt = Hack, monospace
$font-size = 16px
$line-height = 1.725

// Colors Header
$header-color = #FFFFFF
$header-color-background = #202020
$color-nav-accent = #87dbec
//Colors 
$color-background = #FFFFFF
// $color-link = #11a4c2
$color-link = #87dbec
$color-text = #383838
$color-light = #8c8c8c
$color-lightest = #383838
$color-accent = #0B5F6F
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
$color-code-url = #dccf8f
